In [22]:
# stroke column go end
import pandas as pd
from sklearn import preprocessing
data = pd.read_csv('misss_final.csv')
import csv


syc=0
miss_final_reg = []
with open("misss_final.csv", "r", newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    for miss_final_regular  in csvreader:
        syc=syc+1
        miss_final_reg.append([ miss_final_regular [1], miss_final_regular [2],miss_final_regular [3], miss_final_regular [4], miss_final_regular [5],miss_final_regular [6], miss_final_regular [7], miss_final_regular [8],miss_final_regular [9], miss_final_regular [12], miss_final_regular [11], miss_final_regular [10]])
        if syc==1:
            field=miss_final_reg
            print("miss_regular_file.csv",field[0])


with open('miss_regular_file.csv', 'w') as f:

    # using csv.writer method from CSV package
    write = csv.writer(f)
    write.writerow(field[0])
    write.writerows(miss_final_reg)

miss_regular_file.csv ['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'smoking_status', 'bmi', 'stroke']

In [23]:
import pandas as pd
from sklearn import preprocessing
data = pd.read_csv('miss_regular_file.csv')

In [24]:
S_all=data
S_all

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,bmi,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,0.684768,18.0,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,0.000000,39.2,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,0.684768,17.6,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,1.000000,35.9,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,0.420165,19.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,0.000000,20.4,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,1.000000,55.4,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,1.000000,28.9,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,0.000000,33.2,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,0.000000,20.6,0

In [27]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
S_all['gender']= label_encoder.fit_transform(S_all['gender'])
S_all['ever_married']= label_encoder.fit_transform(S_all['ever_married'])
S_all['work_type']= label_encoder.fit_transform(S_all['work_type'])
S_all['Residence_type']= label_encoder.fit_transform(S_all['Residence_type'])
S_all['avg_glucose_level']= label_encoder.fit_transform(S_all['avg_glucose_level'])
data=S_all
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,bmi,stroke
0,30669,1,3.0,0,0,0,4,0,3984,0.684768,18.0,0
1,30468,1,58.0,1,0,1,2,1,3268,0.000000,39.2,0
2,16523,0,8.0,0,0,0,2,1,5544,0.684768,17.6,0
3,56543,0,70.0,0,0,1,2,0,1378,1.000000,35.9,0
4,46136,1,14.0,0,0,0,1,0,8677,0.420165,19.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,0,10.0,0,0,0,4,1,354,0.000000,20.4,0
43396,5450,0,56.0,0,0,1,0,1,10967,1.000000,55.4,0
43397,28375,0,82.0,1,0,1,2,1,3666,1.000000,28.9,0
43398,27973,1,40.0,0,0,1,2,1,4388,0.000000,33.2,0
43399,36271,0,82.0,0,0,1,2,1,2420,0.000000,20.6,0

In [37]:
from sklearn.model_selection import KFold
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from imblearn.metrics import geometric_mean_score
syc=0
df = data
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
#Implementing cross validation
#lab = preprocessing.LabelEncoder()
#y= lab.fit_transform(y)
k = 3
kf = KFold(n_splits=k, random_state=None)

for train_index , test_index in kf.split(X):
    syc=syc+1
    X_train , X_test = X.iloc[train_index,:],X.iloc[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]
    train1=X_train.join(y_train, how='right')
    test1=X_test.join(y_test, how='right')
    train1.to_csv("train{}.csv".format(syc))
    test1.to_csv("test{}.csv".format(syc))


    print("completed csv files train and test")

completed csv files train and test
completed csv files train and test
completed csv files train and test

In [41]:
#seperate train files stroke and unstroke
import pandas as pd
#TRAIN UNSTROKE SEPERATION
for i in range(k):
    df = pd.read_csv("train{}.csv".format(i+1))
    df =  df[df.stroke != 1]
    df.to_csv("train{}_unstroke.csv".format(i+1), index=False)

In [42]:
#seperate train files stroke and unstroke
import pandas as pd
#TRAIN STROKE SEPERATION
for i in range(k):
    df = pd.read_csv("train{}.csv".format(i+1))
    df =  df[df.stroke != 0]
    df.to_csv("train{}_stroke.csv".format(i+1), index=False)

In [47]:
#seperate %20 anticore
import pandas as pd
import math
import csv
#TRAIN STROKE SEPERATION %20
k=3
print(k)
print(k)

syc=0
syc_second=0
syc_third=0
stroke_20=[]
for i in range(k):


    dft = pd.read_csv("train{}_stroke.csv".format(i+1))
    ldft=len(dft)
    print("len{}=".format(i+1),ldft)
    new_ldft=math.ceil(0.2*ldft)
    print(new_ldft)
    ####################%20 create#################################################

    print("iiiiii",new_ldft)
    csvfile = open("train{}_stroke.csv".format(i+1), 'r').readlines()
    for t in range(len(csvfile)):
        if t % new_ldft == 0:
            print("start")
            open("train{}_stroke_20.csv".format(i+1), 'w+').writelines(csvfile[t:t+new_ldft])
            open("train{}_stroke_80.csv".format(i+1), 'w+').writelines(csvfile[0:t])

3
3
len1= 544
109
iiiiii 109
start
start
start
start
start
len2= 511
103
iiiiii 103
start
start
start
start
start
len3= 511
103
iiiiii 103
start
start
start
start
start

In [48]:
#seperate %20 anticore
import pandas as pd
import math
import csv
#TRAIN UNSTROKE SEPERATION %20
k=3
print(k)
print(k)

syc=0
syc_second=0
syc_third=0
stroke_20=[]
for i in range(k):


    dft = pd.read_csv("train{}_unstroke.csv".format(i+1))
    ldft=len(dft)
    print("len{}=".format(i+1),ldft)
    new_ldft=math.ceil(0.2*ldft)
    print(new_ldft)
    ####################%20 create#################################################

    print("iiiiii",new_ldft)
    csvfile = open("train{}_unstroke.csv".format(i+1), 'r').readlines()
    for t in range(len(csvfile)):
        if t % new_ldft == 0:
            print("start")
            open("train{}_unstroke_20.csv".format(i+1), 'w+').writelines(csvfile[t:t+new_ldft])
            open("train{}_unstroke_80.csv".format(i+1), 'w+').writelines(csvfile[0:t])

3
3
len1= 28389
5678
iiiiii 5678
start
start
start
start
start
len2= 28422
5685
iiiiii 5685
start
start
start
start
start
len3= 28423
5685
iiiiii 5685
start
start
start
start
start

In [ ]:
#AIS algorithm 6 results

In [ ]:
#Smin+Smaj create sum 3 files

In [ ]:
#AIS algorithm 3 result K

In [ ]:
#balanced 3 train datasets

In [ ]:
###CLASSIFICATION WITHOUT ABC  and create metricss****###

In [ ]:
from sklearn.model_selection import KFold
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from imblearn.metrics import geometric_mean_score
syc=0
df = data
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
#Implementing cross validation
#lab = preprocessing.LabelEncoder()
#y= lab.fit_transform(y)
k = 2
kf = KFold(n_splits=k, random_state=None)
model =  XGBClassifier()
acc_score = []
spec_score=[]
sens_score=[]
gmean_score=[]
print("kf.split(X)kf.split(X)kf.split(X)",kf.split(X))
for train_index , test_index in kf.split(X):

    X_train , X_test = X.iloc[train_index,:],X.iloc[test_index,:]
    y_train , y_test = y[train_index] , y[test_index]

    syc=syc+1
    print("sycsyc",syc)
    model.fit(X_train,y_train)
    pred_values = model.predict(X_test)
    #########ACCURACY########
    acc = accuracy_score(pred_values , y_test)
    acc_score.append(acc)
    cm1=metrics.confusion_matrix(y_test, pred_values)
    total1=(cm1[0,0]+cm1[1,1]+cm1[1,0]+cm1[0,1])
    Accuracy = (cm1[0,0]+cm1[1,1])/total1
    ##sensivity#####
    sens = cm1[0,0]/(cm1[0,0]+cm1[0,1])
    print('svm Sensitivity : ', sens )
    sens_score.append(sens)
    ##specifity######
    spec = cm1[1,1]/(cm1[1,0]+cm1[1,1])
    print('svm Specificity : ', spec)
    spec_score.append(spec)
    #####geometric mean sens_score######
    geo=geometric_mean_score(pred_values , y_test)
    print('The geometric mean is ',geo)
    gmean_score.append(geo)

avg_acc_score = sum(acc_score)/k
avg_spec_score = sum(spec_score)/k
avg_sens_score = sum(sens_score)/k
avg_gmean_score = sum(gmean_score)/k
print('accuracy of each fold - {}'.format(acc_score))
print('Avg accuracy : {}'.format(avg_acc_score))